@layer utilities {
  .transition-height {
    transition-property: height;
    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(0.165, 0.85, 0.45, 1);
  }
}

@layer components {
  /*
    Container de transition
    Reste au-dessus pendant l'animation
  */
  .lines {
    @apply fixed top-0 left-0 w-full h-screen pointer-events-none z-50;
    isolation: isolate;
  }

  /*
    Après animation :
    on laisse passer le contenu
  */
  .lines.ready {
    @apply z-0;
  }

  .lines .content {
    @apply -ml-[712px] absolute left-1/2 top-0 w-[1424px];
  }

  .lines .line-col {
    @apply relative align-top h-screen;
  }

  /*
    Colonnes
  */
  .lines .line-col:nth-child(1),
  .lines .line-col:nth-child(2) {
    @apply inline-block w-1/2 md:w-2/6 lg:w-1/5;
  }

  .lines .line-col:nth-child(3) {
    @apply hidden md:inline-block md:w-2/6 lg:w-1/5;
  }

  .lines .line-col:nth-child(4),
  .lines .line-col:nth-child(5) {
    @apply hidden lg:inline-block lg:w-1/5;
  }

  /*
    ==========================
    PANNEAUX TRANSITION
    (Premier plan)
    ==========================
  */
  .lines .line-col::after {
    -moz-transition: height 0.65s cubic-bezier(0.165, 0.85, 0.45, 1);
    -webkit-transition: height 0.65s cubic-bezier(0.165, 0.85, 0.45, 1);
    -o-transition: height 0.65s cubic-bezier(0.165, 0.85, 0.45, 1);

    @apply content-[''] absolute left-0 top-0 w-full h-full bg-divider transition-height;

    z-index: 50;
  }

  .lines .line-col:first-child::after {
    @apply left-auto right-0 w-[1000%];
  }

  .lines .line-col:last-child::after {
    @apply w-[1000%];
  }

  /*
    Fermeture des panneaux
  */
  .lines.finish .line-col::after {
    @apply h-0;
  }

  .lines .line-col:nth-child(1)::after {
    @apply top-0 bottom-auto delay-[0.3s];
  }

  .lines .line-col:nth-child(2)::after {
    @apply bottom-0 top-auto delay-[0.45s];
  }

  .lines .line-col:nth-child(3)::after {
    @apply top-0 bottom-auto delay-0;
  }

  .lines .line-col:nth-child(4)::after {
    @apply bottom-0 top-auto delay-[0.15s];
  }

  .lines .line-col:nth-child(5)::after {
    @apply top-0 bottom-auto delay-[0.6s];
  }

  /*
    ==========================
    LIGNES VERTICALES
    (Arrière-plan)
    ==========================
  */
  .background-lines {
    @apply fixed top-0 left-0 w-full h-screen pointer-events-none z-0;
  }

  .background-lines .content {
    @apply -ml-[712px] absolute left-1/2 top-0 w-[1424px];
  }

  .background-lines .line-col {
    @apply relative align-top h-screen;
  }

  .background-lines .line-col:nth-child(1),
  .background-lines .line-col:nth-child(2) {
    @apply inline-block w-1/2 md:w-2/6 lg:w-1/5;
  }

  .background-lines .line-col:nth-child(3) {
    @apply hidden md:inline-block md:w-2/6 lg:w-1/5;
  }

  .background-lines .line-col:nth-child(4),
  .background-lines .line-col:nth-child(5) {
    @apply hidden lg:inline-block lg:w-1/5;
  }

  .background-lines .line-col::before {
    -moz-transition: height 0.65s cubic-bezier(0.165, 0.85, 0.45, 1);
    -webkit-transition: height 0.65s cubic-bezier(0.165, 0.85, 0.45, 1);
    -o-transition: height 0.65s cubic-bezier(0.165, 0.85, 0.45, 1);

    @apply content-[''] absolute top-0 left-0 w-px h-full bg-divider transition-height delay-0;
  }

  .background-lines .line-col:first-child::before {
    @apply bg-transparent;
  }

  .background-lines .line-col:nth-child(1)::before {
    @apply delay-[0.6s];
  }

  .background-lines .line-col:nth-child(2)::before {
    @apply delay-[0.7s];
  }

  .background-lines .line-col:nth-child(3)::before {
    @apply delay-[0.4s];
  }

  .background-lines .line-col:nth-child(4)::before {
    @apply delay-[0.5s];
  }

  .background-lines .line-col:nth-child(5)::before {
    @apply delay-[0.8s];
  }
}
